<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <section>
        <h3>Welcome to </h3>
        <h1><span>Py</span>idealista</h1>
        <p>A simpler solution to for your housing needs!</p>
        </section>
        

        
        <section>

            <form method="POST">

            <div class="city-input">
                <h3>Enter the city you wnat to rent in:</h3>
                <input></input>
            </div>
            <div class="district-input">
                <h3>Enter the Districts you want to rent in </h3>
                <p>One per line</p>
                <div class="each-district-input">
                <input></input> 
  
                <button class="add-each-district-input">+</button><button class="remove-each-district-input">-</button>

                </div>

            </div>


            <div class="regressive-data">
                <h3>Enter the maximum price (leave blank for no max)</h3>
                <input></input>
                <h3>Enter the minimum price (leave blank for no max)</h3>
                <input></input>
                <h3>Enter the minimum number of rooms (leave blank for no max)</h3>
                <input></input>
            </div>

            <button src="/get-house">Submit</button>
        </form>
        </section>


    </body>
</html>