<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>

        <div class='header'>
        <h3>Welcome to </h3>
        <h1 class="header-text"><span class="color-text">Py</span>idealista</h1>
        <p class= "description">A simpler solution to for your housing needs!</p>
        </div>
        

        
        <div class="body">

            <form  class="first-input" method="POST">

            <div class="city-input">
                <h3>Enter the city you wnat to rent in:</h3>
                <input></input>


            </div>
            <div class="district-input">
                <h3>Enter the Districts you want to rent in </h3>
                <p>One per line</p>
                <div class="each-district-input">
                <input></input> 
  
                <button class="add-each-district-input">+</button><button class="remove-each-district-input">-</button>

                </div>

                <button id="get-city" class="btn"> Get City </button>
            </form>
            </div>

            <div class= "result-data">
                <h1>Automatically Selected locations for district/metro : $city , $district</h1>
                <h3> $desciption </h3>
                <h3>Zoi ID: $ZOI</h3>
                <h3>Location ID: $ID</h3>
            </div>

            <form class="secound-city-input">
            <div class="regressive-data">
                <h3>Enter the maximum price (leave blank for no max)</h3>
                <input></input>
                <h3>Enter the minimum price (leave blank for no max)</h3>
                <input></input>
                <h3>Enter the minimum number of rooms (leave blank for no max)</h3>
                <input></input>
            </div>


            <div class ="floor-data">
                <h3> Floor Types </h3>
                <h5>Slect the floor types you would consider:  </h5>
              <p> Top Floor </p> <input > yes/no</input> 
              <p> Intermediate Floor </p> <input > yes/no</input> 
              <p> Ground Floor </p> <input >yes/no </input> 

            </div>

            <div class="elavator">

                <p>Do you need an elavator</p>
                <input > yes/no</input> 

            <button id= "get-city" class="btn" src="/learn.htm">Submit</button>
        </form>
    </div>


    </body>
</html>